@inherits BlazorWebFormsComponents.BaseWebFormsComponent
@using System.Xml

<div class="@CssClass">
	<CascadingValue Name="ParentTreeView" Value="this">
		@ChildContent
		@ChildNodesRenderFragment
	</CascadingValue>
</div>
